<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

        {{ partial "nav.html" . }}

        </header>

        {{ partial "carousel.html" . }}
        
        <h4 class="descricao"> O objetivo principal do GESEM é estudar, por meio de métodos estatísticos, a subnotificação da quantidade de casos de estupro em mulheres no Brasil, assim como fatores culturais, demográficos, econômicos e sociais relacionados a esse crime.
        </h4>

        {{ partial "recent_posts.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
